.search-bar-container{
    margin-top: 2%;
}

input[type=text]{
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 60%;
    background: #f1f1f1; 
}

.resturant-container{
    margin:auto;
    width: 90%;
}


